*{
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
  }
  body{
    padding:0;
    margin:0;
  }
  .App{
    display: flex;
    flex-direction: column;
  }
  .App {
    width: 100%;
    padding-right: 3%;
    padding-left: 3%;
  }

  .link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  @media (min-width: 1250px) {
    .App {
        width: 1250px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 3%;
        padding-left: 3%;
    }
  }