.opinion {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
}

.miniOpinion {
}

.diviso {
    width: 100%;
    height: 1px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: rgb(166, 166, 166);
}

.divisoVer {
    width: 1px;
    height: 19rem;
    margin-right: 2%;
    margin-left: 2%;
    background-color: rgb(166, 166, 166);
}

.containers {
    display: flex;
}

.left {
    width: 38%;
}

.right {
    width: 58%;
}