* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quando', serif;
    color: #414141;
}

.home {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 200px;
}

.homesx {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.title {
    color: #4A4DF6;
    display: flex;
    font-size: 40px;
    margin-top: 70px;
    margin-left: 100px;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    margin-top: 150px;  
    margin-right: 55px;  
}

.who {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-top: 10px;
}

.okay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ico {
    width: 80px;
    height: 80px;
    margin-top: 50px;

}

.ico.due {
    margin-left: 20px;
}

.homedx {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-menu {
    font-size: 40px;
    margin-top: 70px;
}

.text-menu.contacts {
    margin-right: 100px;
}

.center-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-image {
    width: 750px;
    height: 750px;
    margin-top: 50px;
}

.about-me {
    display: flex;
}

.testo {
    width: 60%;
}

.about-me-title {
    color: #4A4DF6;
    display: flex;
    font-size: 40px;
    margin-top: 70px;
    margin-left: 100px;
}

.about-me-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-top: 150px;  
    margin-left: 100px;
    margin-right: 100px;
}


.photo-me {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.my-photo {
    width: 700px;
    height: 905px;
    border-radius: 30px;
    margin-bottom: 300px;
}

.case-studio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sopra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.sotto {
    display: flex;

}

.titolo-cas-stdio {
    color: #4A4DF6;
    display: flex;
    font-size: 40px;
    margin-top: 70px;
    margin-left: 100px;
}

.img1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 250px;
}

.cose {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
}

.sotto {
    background-color: #e2e2e2;
    width: 1720px;
    height: 780px;
}

.contacts2 {
    background-color: rgb(43, 43, 43);
    margin-top: 100px;
    width: 100%;
    height: 300px;
    text-align: center;
}

.perche {
    color: white;
    padding-top: 60px;
    font-size: 40px;
}


